body {
  font-size: 36px;
  background: black;
  color: white;
}

#g {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  grid-gap: 80px;
  text-align: center;
  padding: 20px;
  border: 1px white solid;
  margin: 30px 0;
}

#p {
  font-size: 50px;
  color: deeppink;
}

#title {
  color: lightgreen;
  margin: 0;
}

h6 {
  margin: 16px 0;
  color: lightgreen;
}

#header {
  display: flex;
  gap: 8px;
  align-items: center;
}

pre {
  margin: 0;
}

.poemHistory {
  margin: 12px 0;
  border: 1px solid white;
  padding: 24px;
}

.poemHistory .date {
  float: right;
  font-size: 18px;
}

#titleText span {
  transition: all 0.5s ease-in-out;
}

#titleText span.pre-animation {
  opacity: 0;
}

p {
  font-size: 18px;
}

/* taken from https://codepen.io/Brandon-Stoyles/pen/RajYmd */

button {
  background: #7c7c7c;
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  float: right;

  background: #005800;

  &:focus,
  &:hover {
    background: #006800;
  }
}

a {
  color: #e08f1c;
}

.about {
  margin-top: 16px;

  summary {
    font-size: 22px;
  }

  summary::marker {
    font-size: 18px;
  }
}
